<% layout('layouts/boilerplate') -%>
    <div class="row">
        <h1 class="text-center">New a Campground!</h1>
        <div class="col-6 offset-3 mb-3">
            <form action="/campgrounds" method="post" class="mb-3">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" name="location" id="location" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" name="price" id="price" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>               
                <div class="mb-3">
                    <label for="image" class="form-label">image URL</label>
                    <input type="text" name="image" id="image" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
    